.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Peter Parker
      .image.center-block
        =link_to (image_tag post.image), post_path(post)
      %p.caption
        =post.caption